
div.footer-widget{
  
   padding-top:30px;
}

.second-header {
    background:#534787;
 padding:5px;
}
.second-header a,.second-header span{
    color: #d5def5;
}
.second-header a:hover{
    color: #6643b5;
}
.footer-bg {
    color:#d5def5;
    background: #40356f;
}

.copyright-wrap {
    background:#40356f;
    color: #d5def5;
   
   
}
.copyright-wrap li a{
    color: #d5def5;
}



.footer-link ul li a{
    font-size:18px;
}
.s-slider-content p {
    font-size:18px;
}

.consuluting_area{
      margin-bottom:20px;
}

.consuluting_inside{
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding:10px;
    border-radius:70px 10px;
}
.consuluting_inside:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
div.d-flex{
    padding-bottom:0px;
    
}
.coching_area{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius:10px;
     margin-bottom:20px;
}
.coching_area:hover{
 box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}
.coching_area1{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius:10px;
}
.coching_area1:hover{
 box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}
.services-08-content{
 padding:15px;   
}

.pb-120{
 
}
.h-100{
  
}
.train_head{
  font-size:25px;
  font-weight:500;
  color:#f7f7f2;
}

 .ct_bg{
      background-color:#57385c;
        padding: 20px;
       color:#ffe9e3;
   
  }

    .second-menu{
    
    padding-top:0px;
 padding-bottom:70px;

}

.logo img{
    width:175px;
    height:150px;
   
}
.content_section{
    background-color:transparent;
 padding:30px;

  border-radius:10px;

}

h2.sec_title{
 font-size:30px;   
  padding:20px;
  padding-left:0px;
  padding-top:0px;

}
.ser_section{
 border-radius:10px;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 padding:20px;
 display:flex;
 align-items: center;
    gap: 10px;
 align-content:center;
 margin-bottom:20px;
}
.ser_section:hover{

 box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
 
}


/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1600px) {
    
    .logo img{
    width:130px;
    height:130px;
   
}
.slider-active{
    
    padding-left:20px;
    padding-top:0px;
    margin-top:-180px;
}
.s-slider-content h2{
    font-size:35px;
    letter-spacing:none;
    
}
.main-menu{
    margin-top:-20px;
}

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
   .logo img{
    width:130px;
    height:130px;
   
}
.slider-active{
    
    padding-left:20px;
    padding-top:0px;
    margin-top:-180px;
}
.s-slider-content h2{
    font-size:55px;
    letter-spacing:none;
    
}
.main-menu{
    margin-top:-20px;
}
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

}


/* small mobile :320px. */
@media (max-width: 812px) {


}
/* Large Mobile :480px. */
@media only screen and (min-width: 768px) and (max-width: 850px) {
 
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
 

}
/* Large Mobile :480px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    
 

}







